.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 80px;
  color: white;
}

.title {
  font-size: 26px;
}

.back {
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;
}

.back:hover {
  color: orange;
}
