.root {
  height: 64px;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navItem {
  color: #fff;
  margin: 0 16px;
  text-decoration: none;
}

.navItem:hover:not(.logo) {
  text-decoration: underline;
}
