.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animalContainer {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardContainer {
  width: 300px;
  margin: 15px;
  cursor: pointer;
}
